<div class="homepage">
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <br>
    <div class="row box">
      <h2>About us</h2>
      <p>We are dedicated to bringing single people worldwide together. We are proud to be the No.1 international dating app. If you live in a city where the gender ratio is unproportionate and you suffer from it. Don't worry! We are offering you an opportunity to find people you are interested from other cities.</p>
    
    <img class="pic1" src="https://www.weg2g.com/contents/user_contents/pictures/weg2g_contents/image_2050_1437575676.jpeg">
			
    </div>
    <br>

    <div class="row box">
    <h2>Success stories</h2>
    <p>We are dedicated to bringing single people worldwide together. We are proud to be the No.1 international dating app. If you live in a city where the gender ratio is unproportionate and you suffer from it. Don't worry! We are offering you an opportunity to find people you are interested from other cities.</p>

    <img class="pic1" src="http://img13.poco.cn/mypoco/myphoto/20130220/13/55760345201302201321191411833596229_010.jpg">
      
    </div>
    <br>
      <div class="row box">
    <h2>Find your love in our earth village!</h2>
    <p>We are dedicated to bringing single people worldwide together. We are proud to be the No.1 international dating app. If you live in a city where the gender ratio is unproportionate and you suffer from it. Don't worry! We are offering you an opportunity to find people you are interested from other cities.</p>

    <img class="pic1" src="http://www.o-picture.com/uploads/allimg/111004/1642213162-0.jpg">
    </div>
</div>
</div>
</div>


